span
    -  let flag = false;
        each actor in actors
                if flag
                    span ,
                    a(id=actor.id class="actor-h") #{' '+actor.name}  #{actor.surname}
                else
                    a(id=actor.id class="actor-h") #{actor.name}  #{actor.surname}
                - flag = true