div(class="film-page-container" style="min-height: 590px; min-width: 100%; color: white;")
    section
        div.film-item-container
            div.film-pic(style="position: absolute; float: left; width: 100%; height: 600px; z-index: 1;").film-n-pic
            img(src="img.png").fon-pic(style="right: 0px; height: 600px;")
            div
                div.age-pic(style="margin-top: 500px; margin-right: 100px;") #{result.age+'+'}
            div.main(style="")
                div
                    h1.film-title #{result.title}
                div(style="font-size: 18px; margin-top: 30px; color: hsla(0,0%,100%,.56); align-items: center;")
                    span(style="font-size: 18px; line-height: 22px;") #{result.year} · #{result.genres+' · '}
                        if countSeries
                            span(style="letter-spacing: 1px; color: #bbbbbb;") #{countSeries+' · '}
                        else
                            span #{result.duration} · #{" "+ ''}
                    img(src="micro.ico" style="width: 13px;")
                    span(style="font-size: 18px; line-height: 22px; letter-spacing: .03em;") #{" "+ 'RUS'}

                div(style="font-size: 18px; margin-top: 30px; color: hsla(0,0%,100%,.56);")
                    span Режиссер:
                    span(style="color: white;") #{" "+result.director}

                div(style="font-size: 18px; line-height: 36px; padding-top 4px; color: hsla(0,0%,100%,.56);")
                    span #{'Актеры: '}
                    span(id="root-actors")
                div(style="font-size: 18px; padding-top: 60px;display:flex;")
                    a(class="btn-watch watch") Смотреть
                        img.watch(src="play-white.ico" style="")
                    a(class="btn-watch watch" id="wl") Смотреть позже
                        img.watch(src="play-white.ico" style="")

                    a(class="re-btn-watch re-like" id="re-like")
                        img(src="heart.ico" style="vertical-align: middle; width: 30px;")
    section.selection-2
        div.about
            div(style="font-family: 'Montserrat', sans-serif; font-size: 24px; border-bottom: 2px solid #e5e5e5cc; width: 125px; margin-bottom: -2px;")
                if result.is_series === true
                    div(class="row" style="padding-bottom: 10px;") О сериале
                else
                    div(class="row" style="padding-bottom: 10px;") О фильме
            div(class="col-2" style="width: 54%;")
                p(class="short-text")
                    span #{result.description}

        if result.is_series
            div(class="row" style="padding-bottom: 50px;")
            div.selection-3
                div.about
                    div(style="font-family: 'Montserrat', sans-serif; font-size: 24px; border-bottom: 2px solid #e5e5e5cc; width: 183px;; margin-bottom: -2px;")
                        div(class="row" style="padding-bottom: 10px;") Сезоны и серии
                div(style="margin-left: 6%; margin-right: 6%;")
                    div.seasons-container
                        - var i = 1;
                        each season in seasons
                            div.films-container
                                h1.selection-label-film Сезон #{i++}
                                div.contentFilm
                                    - var j = 1;
                                    each filmPic in season.Src
                                        a(class="item")
                                            div.div-series
                                                span.series #{j++} серия
                                            img(src=filmPic id=filmPic style="border-radius: 15px;")

        div.selection-3
            div(class="row" style="padding-bottom: 70px;")
            div.full-grid(style="margin-left: 6%; margin-right: 6%;")
                div.col-grid
                    h2.name-col Информация
                    div(class="grey-info")
                        div Страна
                        span(class="pug-text") #{result.country}

                    div(class="grey-info")
                        div Жанр
                        span(class="pug-text") #{result.genres}

                    div(class="grey-info")
                        div Премьера в России
                        span(class="pug-text") #{result.release_rus}

                    div(class="grey-info")
                        div Премьера в мире
                        span(class="pug-text") #{result.release}

                    div(class="grey-info")
                        div Бюджет
                        span(class="pug-text") #{result.budget}
                div.col-grid
                    h2.name-col Съёмочная группа
                    div(class="grey-info")
                        div Режиссёр
                        span(class="pug-text") #{result.director}

                    div(class="grey-info")
                        div Актёры
                        span(class="pug-text" id="many-actors")

                    div(class="grey-info")
                        div Сценаристы
                        span(class="pug-text") #{result.authors}
                div.col-grid
                    h2.name-col Звук и субтитры
                    div(class="grey-info")
                        div Аудиодорожки
                        span(class="pug-text") #{result.language}

                    div(class="grey-info")
                        div Качество
                        span(class="pug-text") SD, HD, Full HD
