div(class="film-block")
    div(class="film-pic")
    img(src=result.pic class="film-block__picture")
    div(class="film-age__text") #{result.age+'+'}
    div(class="film-about")
        h1(class="film-about-title__text") #{result.title}
        div(class="film-about-short__column")
            span(class="film-about-short__text") #{result.year} · #{result.genres+' · '}
                if countSeries
                    span(class="film-about-series__text") #{countSeries+' · '}
                else
                    span #{result.duration} · #{" "+ ''}
            img(src="micro.ico" class="film-about-micro__ico")
            span(class="film-about-lang__text") #{" "+ 'RUS'}

        div(class="film-about-short__column")
            span Режиссер:
            span(style="color: white;") #{" "+result.director}

        div(class="film-about-additionally__column")
            span #{'Актеры: '}
            span(id="root-actors")
        div(class="film-about-btn__row")
            a(id="wb" class="btn-watch watch" tabindex="0" data-info="Только для пользователей с подпиской.") Смотреть
                img(class="watch-btn__ico" src="play-white.ico")
            a(id="wl" class="btn-watch watch" tabindex="0" data-info="Только для авторизованных пользователей.") Смотреть позже
                img(class="watch-btn__ico" src="wl.ico")
            a(id="re-like" class="re-btn-watch re-like" tabindex="0" data-info="Только для авторизованных пользователей.")
                img(class="re-watch-btn__ico" src="heart.ico")
    section(class="about-film")
        div(class="about")
            div(class="about-title__row")
                if result.is_series === true
                    div(class="row") О сериале
                else
                    div(class="row") О фильме
            div(class="about-row__column")
                p(class="about-description__text")
                    span #{result.description}
            div(class="about-rating__column")
                div(class="about-rating__block")
                    span(id="rating-num" class="about-rating-title__text") Рейтинг: #{Number(result.rating).toFixed(1)}
                    div(id="rating" class="film-about-rating__column rating" tabindex="0" data-info="Только для авторизованных пользователей.")
                        em(id="rating-star-1" class="rating-star__text") ☆
                        em(id="rating-star-2" class="rating-star__text") ☆
                        em(id="rating-star-3" class="rating-star__text") ☆
                        em(id="rating-star-4" class="rating-star__text") ☆
                        em(id="rating-star-5" class="rating-star__text") ☆

        if result.is_series
            div(class="row" style="padding-bottom: 50px;")
            div(class="film-selection__block")
                div(class="about")
                    div(class="series-title__row")
                        div(class="row" style="padding-bottom: 10px;") Сезоны и серии
                div
                    - var i = 1;
                    each season in seasons
                        div(class="films")
                            h1(class="films-label__text") Сезон #{i++}
                            div(class="films-content__row")
                                - var j = 1;
                                each filmPic in season.Src
                                    a(class="films-content__column" id=filmPic+'info' tabindex="0" data-info="Только c подпиской на LimeTV.")
                                        div(class="film-series__row")
                                            span(class="film-series__text") #{j++} серия
                                        if !result.available
                                            img(src="pay.ico" class="film-pay__picture" style="height: auto;")
                                        img(id=filmPic class="film-series__picture" src=filmPic style="height: auto;")

        div(class="film-selection__block")
            div(class="row" style="padding-bottom: 70px;")
            div(class="full-grid film-info__selection")
                div(class="film-info__column")
                    h2(class="film-info-title__text") Информация
                    div(class="film-info__row")
                        div Страна
                        span(class="val__text") #{result.country}

                    div(class="film-info__row")
                        div Жанр
                        div(class="val__text")
                            -  let flag = false;
                                each val in result.genres
                                    if flag
                                        span #{', '}
                                        a(id=val class="actor-name__text") #{val}
                                    else
                                        a(id=val class="actor-name__text") #{val}
                                    - flag = true

                    div(class="film-info__row")
                        div Премьера в России
                        span(class="val__text") #{result.release_rus}

                    div(class="film-info__row")
                        div Премьера в мире
                        span(class="val__text") #{result.release}

                    div(class="film-info__row")
                        div Бюджет
                        span(class="val__text") #{result.budget}
                div(class="film-info__column")
                    h2(class="film-info-title__text") Съёмочная группа
                    div(class="film-info__row")
                        div Режиссёр
                        span(class="val__text") #{result.director}

                    div(class="film-info__row")
                        div Актёры
                        span(class="val__text" id="many-actors")

                    div(class="film-info__row")
                        div Сценаристы
                        span(class="val__text") #{result.authors}
                div(class="film-info__column")
                    h2(class="film-info-title__text") Звук и субтитры
                    div(class="film-info__row")
                        div Аудиодорожки
                        if result.language == null || result.language === undefined || result.language === ''
                            span(class="val__text") Русский
                        else
                            span(class="val__text") #{result.language}

                    div(class="film-info__row")
                        div Качество
                        span(class="val__text") SD, HD, Full HD