div(class="film-page-container")
    section
        div(class="film-item-container")
            div(class="film-pic").film-n-pic
            img(src="img.png" class="fon-pic")
            div
                div(class="age-pic") #{result.age+'+'}
            div(class="main")
                div
                    h1(class="film-title") #{result.title}
                div(style="font-size: 18px; margin-top: 30px; color: hsla(0,0%,100%,.56); align-items: center;")
                    span(style="font-size: 18px; line-height: 22px;") #{result.year} · #{result.genres+' · '}
                        if countSeries
                            span(style="letter-spacing: 1px; color: #bbbbbb;") #{countSeries+' · '}
                        else
                            span #{result.duration} · #{" "+ ''}
                    img(src="micro.ico" style="width: 13px;")
                    span(style="font-size: 18px; line-height: 22px; letter-spacing: .03em;") #{" "+ 'RUS'}

                div(style="font-size: 18px; margin-top: 30px; color: hsla(0,0%,100%,.56);")
                    span Режиссер:
                    span(style="color: white;") #{" "+result.director}

                div(style="font-size: 18px; line-height: 42px; color: hsla(0,0%,100%,.56);")
                    span #{'Актеры: '}
                    span(id="root-actors")
                div(style="font-size: 18px; line-height: 42px; color: hsla(0,0%,100%,.56);") Рейтинг: #{Number(result.rating).toFixed(1)}
                div(class="rating" style="color: white; font-size: 30px; line-height: 42px; color: hsla(0,0%,100%,.56); width: 1em;")
                    em(id="rating-star-1" class="star-rating") ☆
                    em(id="rating-star-2" class="star-rating") ☆
                    em(id="rating-star-3" class="star-rating") ☆
                    em(id="rating-star-4" class="star-rating") ☆
                    em(id="rating-star-5" class="star-rating") ☆
                div(class="btns")
                    a(class="btn-watch watch") Смотреть
                        img(class="watch-btn-img")(src="play-white.ico")
                    a(class="btn-watch watch" tabindex="0" data-info="Только для авторизованных пользователей." id="wl") Смотреть позже
                        img(class="watch-btn-img")(src="wl.ico")

                    a(class="re-btn-watch re-like" tabindex="0" data-info="Только для авторизованных пользователей." id="re-like")
                        img(src="heart.ico" style="vertical-align: middle; width: 30px;")
    section(class="selection-2")
        div(class="about")
            div(style="font-family: 'Montserrat', sans-serif; font-size: 24px; border-bottom: 2px solid #e5e5e5cc; width: 125px; margin-bottom: -2px;")
                if result.is_series === true
                    div(class="row" style="padding-bottom: 10px;") О сериале
                else
                    div(class="row" style="padding-bottom: 10px;") О фильме
            div(class="text-about col-2")
                p(class="short-text")
                    span #{result.description}

        if result.is_series
            div(class="row" style="padding-bottom: 50px;")
            div(class="selection-3")
                div(class="about")
                    div(style="font-family: 'Montserrat', sans-serif; font-size: 24px; border-bottom: 2px solid #e5e5e5cc; width: 183px;; margin-bottom: -2px;")
                        div(class="row" style="padding-bottom: 10px;") Сезоны и серии
                div(style="margin-left: 6%; margin-right: 6%;")
                    div(class="seasons-container")
                        - var i = 1;
                        each season in seasons
                            div(class="films")
                                h1(class="selection-label-film") Сезон #{i++}
                                div(class="films-content__row")
                                    - var j = 1;
                                    each filmPic in season.Src
                                        a(class="films-content__column")
                                            div(class="div-series")
                                                span(class="series") #{j++} серия
                                            img(src=filmPic id=filmPic style="border-radius: 15px;")

        div(class="selection-3")
            div(class="row" style="padding-bottom: 70px;")
            div(class="full-grid" style="margin-left: 6%; margin-right: 6%;")
                div(class="col-grid")
                    h2(class="name-col") Информация
                    div(class="grey-info")
                        div Страна
                        span(class="pug-text") #{result.country}

                    div(class="grey-info")
                        div Жанр
                        div(class="pug-text")
                            -  let flag = false;
                                each val in result.genres
                                    if flag
                                        span #{', '}
                                        a(id=val class="actor-h") #{val}
                                    else
                                        a(id=val class="actor-h") #{val}
                                    - flag = true

                    div(class="grey-info")
                        div Премьера в России
                        span(class="pug-text") #{result.release_rus}

                    div(class="grey-info")
                        div Премьера в мире
                        span(class="pug-text") #{result.release}

                    div(class="grey-info")
                        div Бюджет
                        span(class="pug-text") #{result.budget}
                div(class="col-grid")
                    h2(class="name-col") Съёмочная группа
                    div(class="grey-info")
                        div Режиссёр
                        span(class="pug-text") #{result.director}

                    div(class="grey-info")
                        div Актёры
                        span(class="pug-text" id="many-actors")

                    div(class="grey-info")
                        div Сценаристы
                        span(class="pug-text") #{result.authors}
                div(class="col-grid")
                    h2(class="name-col") Звук и субтитры
                    div(class="grey-info")
                        div Аудиодорожки
                        if result.language == null || result.language === undefined || result.language === ''
                            span(class="pug-text") Русский
                        else
                            span(class="pug-text") #{result.language}

                    div(class="grey-info")
                        div Качество
                        span(class="pug-text") SD, HD, Full HD
