div(class="film-block")
    div(class="film-pic").film-n-pic
    img(src="img.png" class="film-block__picture")
    div(class="film-age__text") #{result.age+'+'}
    div(class="film-about")
        h1(class="film-about-title__text") #{result.title}
        div(class="film-about-short__column")
            span(class="film-about-short__text") #{result.year} · #{result.genres+' · '}
                if countSeries
                    span(class="film-about-series__text") #{countSeries+' · '}
                else
                    span #{result.duration} · #{" "+ ''}
            img(src="micro.ico" class="film-about-micro__ico")
            span(class="film-about-lang__text") #{" "+ 'RUS'}

        div(class="film-about-short__column")
            span Режиссер:
            span(style="color: white;") #{" "+result.director}

        div(class="film-about-additionally__column")
            span #{'Актеры: '}
            span(id="root-actors")
        div(class="film-about-additionally__column") Рейтинг: #{Number(result.rating).toFixed(1)}
        div(class="film-about-rating__column rating")
            em(id="rating-star-1" class="rating-star__text") ☆
            em(id="rating-star-2" class="rating-star__text") ☆
            em(id="rating-star-3" class="rating-star__text") ☆
            em(id="rating-star-4" class="rating-star__text") ☆
            em(id="rating-star-5" class="rating-star__text") ☆
        div(class="film-about-btn__row")
            a(class="btn-watch watch") Смотреть
                img(class="watch-btn__ico" src="play-white.ico")
            a(id="wl" class="btn-watch watch" tabindex="0" data-info="Только для авторизованных пользователей.") Смотреть позже
                img(class="watch-btn__ico" src="wl.ico")
            a(id="re-like" class="re-btn-watch re-like" tabindex="0" data-info="Только для авторизованных пользователей.")
                img(class="re-watch-btn__ico" src="heart.ico")
    section(class="about-film")
        div(class="about")
            div(style="font-family: 'Montserrat', sans-serif; font-size: 24px; border-bottom: 2px solid #e5e5e5cc; width: 125px; margin-bottom: -2px;")
                if result.is_series === true
                    div(class="row") О сериале
                else
                    div(class="row") О фильме
            div(class="text-about col-2")
                p(class="short-text")
                    span #{result.description}

        if result.is_series
            div(class="row" style="padding-bottom: 50px;")
            div(class="selection-3")
                div(class="about")
                    div(style="font-family: 'Montserrat', sans-serif; font-size: 24px; border-bottom: 2px solid #e5e5e5cc; width: 183px;; margin-bottom: -2px;")
                        div(class="row" style="padding-bottom: 10px;") Сезоны и серии
                div(style="margin-left: 6%; margin-right: 6%;")
                    div(class="seasons-container")
                        - var i = 1;
                        each season in seasons
                            div(class="films")
                                h1(class="films-label__text") Сезон #{i++}
                                div(class="films-content__row")
                                    - var j = 1;
                                    each filmPic in season.Src
                                        a(class="films-content__column")
                                            div(class="div-series")
                                                span(class="series") #{j++} серия
                                            img(src=filmPic id=filmPic style="border-radius: 15px;")

        div(class="selection-3")
            div(class="row" style="padding-bottom: 70px;")
            div(class="full-grid" style="margin-left: 6%; margin-right: 6%;")
                div(class="col-grid")
                    h2(class="name-col") Информация
                    div(class="grey-info")
                        div Страна
                        span(class="val__text") #{result.country}

                    div(class="grey-info")
                        div Жанр
                        div(class="val__text")
                            -  let flag = false;
                                each val in result.genres
                                    if flag
                                        span #{', '}
                                        a(id=val class="actor-name__text") #{val}
                                    else
                                        a(id=val class="actor-name__text") #{val}
                                    - flag = true

                    div(class="grey-info")
                        div Премьера в России
                        span(class="val__text") #{result.release_rus}

                    div(class="grey-info")
                        div Премьера в мире
                        span(class="val__text") #{result.release}

                    div(class="grey-info")
                        div Бюджет
                        span(class="val__text") #{result.budget}
                div(class="col-grid")
                    h2(class="name-col") Съёмочная группа
                    div(class="grey-info")
                        div Режиссёр
                        span(class="val__text") #{result.director}

                    div(class="grey-info")
                        div Актёры
                        span(class="val__text" id="many-actors")

                    div(class="grey-info")
                        div Сценаристы
                        span(class="val__text") #{result.authors}
                div(class="col-grid")
                    h2(class="name-col") Звук и субтитры
                    div(class="grey-info")
                        div Аудиодорожки
                        if result.language == null || result.language === undefined || result.language === ''
                            span(class="val__text") Русский
                        else
                            span(class="val__text") #{result.language}

                    div(class="grey-info")
                        div Качество
                        span(class="val__text") SD, HD, Full HD
