div(class="films")
    h1(class="title-page__text") Актер

    div(class="page-left__column")
        div(class="contentAvatar")
            div(class="prof_actor_pic")
                img(src=avatar)

    div(class="page-right__column" style="padding-top: 0;")
        div(class="profile__grid" style="grid-template-columns: auto; padding-top: 10px;")
            div(style="color: white;")
                h2(class="name-col-actor") О персоне
                div(class="grey-info-actor")
                    div Имя и фамилия:
                    span(class="pug-text") #{name} #{surname}

                div(class="grey-info-actor")
                    div Дата рождения:
                    span(class="pug-text") #{date_of_birth}

                div(class="grey-info-actor")
                    div Рост:
                    span(class="pug-text") #{height}м

                div(class="grey-info-actor")
                    div Жанры:
                        div(class="pug-text")
                            -  let flag = false;
                                each val in genres
                                    if flag
                                        span #{', '}
                                        a(id=val class="actor-name__text") #{val}
                                    else
                                        a(id=val class="actor-name__text") #{val}
                                    - flag = true

                div(class="grey-info-actor")
                    div Подробнее:
                    span(class="pug-text") #{description}


section(class="selection-actor-1")
    div(class="title-row")
            div(class="row active-actors") Активность актера

section(class="carousel__selection")
    div(class="carousel-your-active__films" id="selection-profile-5")
