div(class="films-container")
    h1(class="selection-profile") Актер

    div(class="block-left")
        div(class="contentAvatar")
            div(class="prof_actor_pic")
                img(src=avatar)

    div(class="block-right" style="padding-top: 0;")
        div(class="profile-grid" style="grid-template-columns: auto; padding-top: 10px;")
            div(style="color: white;")
                h2(class="name-col-actor") О персоне
                div(class="grey-info-actor")
                    div Имя и фамилия:
                    span(class="pug-text") #{name} #{surname}

                div(class="grey-info-actor")
                    div Дата рождения:
                    span(class="pug-text") #{date_of_birth}

                div(class="grey-info-actor")
                    div Рост:
                    span(class="pug-text") #{height}м

                div(class="grey-info-actor")
                    div Жанры:
                        div(class="pug-text")
                            -  let flag = false;
                                each val in genres
                                    if flag
                                        span #{', '}
                                        a(id=val class="actor-h") #{val}
                                    else
                                        a(id=val class="actor-h") #{val}
                                    - flag = true

                div(class="grey-info-actor")
                    div Подробнее:
                    span(class="pug-text") #{description}


section(class="selection-actor-1")
    div(class="about-your")
            div(class="row active-actors") Активность актера

section(class="selection-profile-2")
    div(class="about-your-active" id="selection-profile-5")
