div(class="films")
    h1(class="page-title__text") Актер

    div(class="page-left__column")
        div(class="page-actor__picture")
            img(src=avatar)

    div(class="page-right__column" style="padding-top: 0;")
        div(class="about-actor")
            div(class="actor__row")
                h2(class="actor-title__text") О персоне
                div(class="actor__column")
                    div Имя и фамилия:
                    span(class="val__text") #{name} #{surname}

                div(class="actor__column")
                    div Дата рождения:
                    span(class="val__text") #{date_of_birth}

                div(class="actor__column")
                    div Рост:
                    span(class="val__text") #{height}м

                div(class="actor__column")
                    div Жанры:
                        div(class="val__text")
                            -  let flag = false;
                                each val in genres
                                    if flag
                                        span #{', '}
                                        a(id=val class="actor-name__text") #{val}
                                    else
                                        a(id=val class="actor-name__text") #{val}
                                    - flag = true

                div(class="actor__column")
                    div Подробнее:
                    span(class="val__text") #{description}


section(class="actor-active__selection")
    div(class="title__row")
            div(class="row actor-active__text") Активность актера

section(class="carousel__selection")
    div(id="carousel-actor" class="carousel-your-active__films")
