div.container
    <hr size="2" style="margin-bottom: 20px;">
    b.title-film Фильмы
    each val in films
        div.row
            div.film
                div.row
                    div.col-1-2-q
                        a.name_film(id=val.id href=val.src.toString())=val.title
                    div.col-1-2-l
                        div.circle
                            b 18+
                div.row
                    div.col-1-2-n
                        b(style="color: #cfcfcf;") Жанр:
                        each v in val.genres
                            b=' '+v
                        b(style="color: #cfcfcf; padding-left: 100px;") Режиссер:
                        b=' '+val.director
                    div.col-1-2-l
                        div.circle(style="background: #cbbd1a; padding: 14px;")
                            b=val.duration

