div.container
    each val in films
        li=val.id
        li=val.title
        li=val.id
        li=val.id
        li=val.id
        li=val.id
        li=val.id
        li=val.id
        li=val.id
