div(class="search")
    div(class="search__row")
        div(class="search__column")
            h1(class="search-title__text") Результаты:
        div(class="search__column")
            div(class="search-title__icon" id="cl-search")
                img(class="search-icon__ico" src="close-search.ico")

    if result.films !== null && result.films.length !== 0
        div(class="films carousel")
            h3(class="carousel__title") Фильмы
            div(class="carousel__content" style="display: block;")
                each film in result.films
                    div(id=film.id + salt class="carousel-content__item")
                        a(class="carousel-item__icon")
                            img(src=film.pic[0])
                        span(class="carousel-item__text") #{film.title+' '}
                            span(style="color: #e5e5e59c;") #{' (' + film.year+')'}

    if result.actors !=null && result.actors.length !== 0
        div(class="films carousel")
            h3(class="carousel__title") Актеры
            div(class="carousel__content")
                each actor in result.actors
                    div(id=actor.id+salt class="carousel-content__item" style="height: 170px;")
                        a(class="carousel-item__icon" style="width: 130px;")
                            img(src=actor.avatar style="max-width: 100px;")
                        span(class="carousel-item__text") #{actor.name + ' '} #{actor.surname}

    if isResult === true
        if result.actors.length === 0 && result.films.length === 0
            div(class="films carousel")
                h3(class="carousel__title") Ничего не найдено
    else
        div(class="films carousel")
            h3(class="carousel__title") введите текст