div(class="search-results")
    div(class="search-title")
        div(class="col-1-2")
            h1(class="title-search") Результаты:
        div(class="col-1-2")
            div(class="close-s" id="cl-search")
                img(src="close-search.ico" class="height-close")
    if result.films.length !== 0
        div(class="films-container cont-res")
            h3(class="tit-in-search") Фильмы
            div(class="contentFilms" style="display: block;")
                each film in result.films
                    div(id=film.id + salt class="div-search-film")
                        a(class="items")
                            img(src=film.pic[0] style="border-radius: 7px;")
                        span(class="name-film") #{film.title+' '}
                        span(class="name-film") #{' (' + film.year+')'}

    if result.actors.length !== 0
        div(class="films-container cont-res")
            h3(class="tit-in-search") Актеры
            div(class="contentFilms" style="display: flex;")
                each actor in result.actors
                    div(id=actor.id+salt class="div-search-film" style="height: 170px;")
                        a(class="items" style="width: 130px;")
                            img(src=actor.avatar style="border-radius: 7px; max-width: 100px;")
                        span(class="name-film") #{actor.name + ' '}
                        span(class="name-film") #{actor.surname}

    if isResult === true
        if result.actors.length === 0 && result.films.length === 0
            div(class="films-container cont-res")
                h3(class="tit-in-search") Ничего не найдено
