div.search-results
    div.search-title
        div.col-1-2
            h1.title-search Результаты поиска
        div.col-1-2
            div.close-s(id="cl-search")
                img(src="close-search.ico" class="height-close")
    if result.films.length !== 0
        div.films-container.cont-res(style="padding-top: 10px")
            h3.tit-in-search Фильмы
            div.contentFilms(style="display:block; flex-wrap: nowrap;")
                each film in result.films
                    div(id=film.id + salt).div-search-film
                        a(class="items")
                            img(src=film.pic[0] style="border-radius: 7px;")
                        span.name-film #{film.title+' '}
                        span.name-film #{' (' + film.year+')'}

    if result.actors.length !== 0
        div.films-container.cont-res(style="padding-top: 10px")
            h3.tit-in-search Актеры
            div.contentFilms(style="display:flex; flex-wrap: nowrap;")
                each actor in result.actors
                    div(id=actor.id + salt).div-search-film(style="height: 170px;")
                        a(class="items" style="width: 130px;")
                            img(src=actor.avatar style="border-radius: 7px; max-width: 100px;")
                        span.name-film #{actor.name + ' '}
                        span.name-film #{actor.surname}

    if isResult === true
        if result.actors.length === 0 && result.films.length === 0
            div.films-container.cont-res(style="padding-top: 10px")
                h3.tit-in-search Ничего не найдено
